@font-face{ 
    font-family: caveat;
    src:url("Caveat-VariableFont_wght.ttf")format("truetype")
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    min-height: 100%;
}

/*icons*/
i {
    font-size: 200%;
    padding: 0%;
    color: rgb(8, 5, 0);

}

/*links*/
.a {
    text-decoration: none;
}

/*body background*/
body {
    position: relative;
    padding: 0px;
    background: -webkit-linear-gradient(left, #cfd9df, #e2ebf0); 
    background: -o-linear-gradient(right, #2a59c7, #298854); 
    background: -moz-linear-gradient(right, #93B874, #C9DCB9); 
    background: linear-gradient(to right, #9fc0d4, #e2ebf0); 
    background-color: #649e34; 
}

.mainpage {
    display: flex;
    flex-direction: column;
}

/*nav list*/
ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    height: 0px;
    padding: 40px;
 
  }

 /*welcome hello*/ 
/**.headingFont {
    font-family: "caveat", Courier, monospace;
    color: cadetblue;
    text-align: left;
    font-size: 80px;
    text-shadow:1px 1px 1px #020202;
    padding-bottom: 0%;
    
}*/

.header {
    align-items: center;
    size: 100%;
}



.welcome {
    text-align: center;
    font-family: "caveat", Courier, monospace;
    color: rgb(120, 196, 196);
    font-size: 120px;
    text-shadow:4px 4px 4px #020202;
    padding-top: 5%;
}

.codeNationLogo {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 4px solid cadetblue;
    border-radius: 10%;
    padding: 40px;
}

.about {
    font-family: "caveat";
    font-size: 60px;
    color: cadetblue;
    padding-top: 40px;
    padding-bottom: 40px;
    text-shadow:1px 1px 1px #000000;
    text-align: center;
}

.about > p > a {
    font-size: 70px;
}

.boldLogo {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 4px solid cadetblue;
    border-radius: 10%;
    padding: 0;
    
}


.navbar > ul > li {
    padding: 15px;
    text-shadow:1px 1px 1px #020202;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    width: 10%;
 
}

h1 {
    font-size: 100px;
    color: cadetblue;
    text-shadow:1px 1px 1px #020202;
}

h3 {
    font-size: 60px;
}

a, a:visited, a:hover, a:active {
    font-family: "caveat";
    text-decoration: none;
    color:rgb(70, 100, 100);
    cursor: pointer;
    font-size: 30px;
    text-shadow: 1px 1px 1px #020202;
    
}



.findoutmore {

    background-image: url(/github-pages/github-page/joefoster-cn.github.io/img/img3.jpg);
    background-size: 100%;
    background-blend-mode: hard-light;
    font-family: "caveat", Courier, monospace;
    color: cadetblue;
    text-align: center;
    text-decoration: none;
    border: cadetblue solid 4px;
    border-radius: 10%;
    padding: 10%;
}


@media only screen and (min-width: 800px) and (max-width: 1000px)  {

}

/*@media only screen and (min-width: 412px) and (max-width: 768px) {

    .welcome {
        text-align: center;
        font-family: "caveat", Courier, monospace;
        color: rgb(120, 196, 196);
        font-size: 100px;
        text-shadow:4px 4px 4px #020202;
        padding-top: 10%;
    }

    .navbar > ul {
        align-items: right;
    }

    .navbar > ul > li {
  
        padding: 0px;
        text-shadow:1px 1px 1px #020202;
        text-align: center;
        border: 4px solid cadetblue;
        border-radius: 10%;
        padding-left: 3%;
        padding-right: 3%;
        width: 10%;
        float: right;
    }

    a, a:visited, a:hover, a:active {
        font-family: "caveat";
        text-decoration: none;
        color:cadetblue;
        cursor: pointer;
        font-size: 20px;
        font-weight: 200;
        text-shadow: 10px;
    
    }
}*/