@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
  }

html {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right , rgb(129, 224, 69) , rgb(223, 108, 55)); 
}

h1 {
    text-align: left;
    font-size: 400%;
    color: rgb(68, 163, 68);
    font-family: "Indie Flower", monospace;
    font-weight:600;
    text-shadow: 2px 2px 2px black;
    margin: 0;
}

/* h2 {
    display: none;
    font-size: 200%;
    text-align: center;
    color: rgb(68, 163, 68);
    font-family: "Indie Flower", monospace;
    font-weight:600;
    text-shadow: 2px 2px 2px black;
} */

.gamearea {
    display: flex;
    flex-direction: column;
}

.petImg {
    display: none;
    text-align: center;
    word-spacing: 2.5em;
    width: 1000px;
    padding-left: 10%;
}


.petImg2 {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;

}

#dogImg {
    height: 300px;
    width: 300px;
    cursor:pointer;
    border-radius: 50%;
    border: rebeccapurple 2px solid;
    transition: .2s;
}
#dogImg:hover {
    transform: scale(1.5);
}

#catImg {
    height: 300px;
    width: 300px;
    cursor:pointer;
    border-radius: 50%;
    border: rebeccapurple 2px solid;
    transition: .2s;
}
#catImg:hover {
    transform: scale(1.5);
}

#rabImg {
    height: 300px;
    width: 300px;
    cursor:pointer;
    border-radius: 50%;
    border: rebeccapurple 2px solid;
    transition: .2s;
}
#rabImg:hover {
    transform: scale(1.5);
}

#dogImg2 {
    height: 280px;
    width: 330px;
    cursor:pointer;
    border-radius: 50%;
    border: rebeccapurple 2px solid;
    margin-left: 37%;
    transition: all .2s ease-in-out;
}
#dogImg2:hover {
    transform: scale(1.3);
}

#catImg2 {
    height: 280px;
    width: 330px;
    cursor:pointer;
    border-radius: 50%;
    border: rebeccapurple 2px solid;
    text-align: center;
    margin-left: 35%;
    transition: all .2s ease-in-out;
}
#catImg2:hover {
    transform: scale(1.3);
}

#rabImg2 {
    height: 280px;
    width: 330px;
    cursor:pointer;
    border-radius: 50%;
    border: rebeccapurple 2px solid;
    text-align: center;
    margin-left: 35%;
    transition: all .2s ease-in-out;
}
#rabImg2:hover {
    transform: scale(1.3);
}

.startButtons {
    text-align: center;
}

#restart {
    display: none;
    cursor:pointer;
    font-family: "Pangolin", monospace;
    font-size: 200%;
    background: none;
    border: none;
    color: rebeccapurple;
    transition: .2s;
    text-shadow: black 1px 1px 1px;
    margin-left: 2%;
    
}
#restart:hover {
    transform: scale(1.3);
}

#choose {
    padding-top: 10%;
    cursor:pointer;
    font-family: "Pangolin", monospace;
    text-shadow: black 2px 2px 2px;
    font-size: 300%;
    background: goldenrod;
    color: rebeccapurple;
    background: none;
    border: none;
    transition: .2s;
}

#choose:hover {
    transform: scale(1.8);
}

#dog {
    display: none;
}

#cat {
    display: none;
}

#rabbit {
    display: none;
}

#selectDog {
    margin-top: 10%;
    display: none;
    font-family: "Indie Flower", monospace;
    font-size: 150%;
    text-shadow: black 1px 1px 1px;
}

#selectCat {
    margin-top: 10%;
    display: none;
    font-family: "Indie Flower", monospace;
    font-size: 150%;
    text-shadow: black 1px 1px 1px;
}

#selectRab {
    margin-top: 10%;
    display: none;
    font-family: "Indie Flower", monospace;
    font-size: 150%;
    text-shadow: black 1px 1px 1px;
}

#placeholder {
    font-size: 200%;
    font-family: "Indie Flower", monospace;
    color: rebeccapurple;
    margin-top: 0%;
    margin-bottom: 1%;
    display: none;
    text-shadow: black 1px 1px 1px;
    padding-left: 17%;
}

#input {
    text-decoration: none;
    text-align: center;
    font-size: 200%;
    font-family: "Indie Flower", monospace;
    display: none;    
    color: rebeccapurple;
    background: none;
    border: solid 2px rebeccapurple;
    border-radius: 1em;
    margin-left: 21.5%;
    outline: none;
}

#submit {
    cursor:pointer;
    font-size: 200%;
    font-family: "Indie Flower", monospace;
    display: none;
    color: rebeccapurple;
    background: none;
    border: none;
    padding-left: 33%;
    text-decoration: underline;
}

.info {
    padding-left: 20%;
    display: none;
    color: rebeccapurple;
    font-style: oblique;
}

.petButtons {
    display: none;
    word-spacing: 2.5rem;
    padding-left: 34%;
    cursor:pointer;
}

#feed {
    font-size: 200%;
    font-family: "Indie Flower", monospace;
    color: rebeccapurple;
    background-color: lightgreen;
    cursor:pointer;
    transition: 0.7s;
}

#feed:hover {
    transform: scale(1.3);
}

#drink {
    font-size: 200%;
    font-family: "Indie Flower", monospace;
    color: rebeccapurple;
    background-color: lightgreen;
    cursor:pointer;
    transition: 0.7s;
}

#drink:hover {
    transform: scale(1.3);
}

#play {
    font-size: 200%;
    font-family: "Indie Flower", monospace;
    color: rebeccapurple;
    background-color: lightgreen;
    cursor:pointer;
    transition: 0.7s;
}

#play:hover {
    transform: scale(1.3);
}

.dogButtons {
    display: none;
}

.catButtons {
    display: none;
}

.rabButtons {
    display: none;
}

.progress {
    display: none;
    font-family: "Indie Flower", monospace;
    font-size: 20px;    
}